@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
:root{
    --primary-color:#FBBF24;
    --light-yellow:#B45309;
    --off-white: rgb(190, 184, 184);
}

body{
    font-family: 'Nerko One', cursive;
    margin: 0;

    }
    .head{
        background-color: var(--primary-color);
        padding: 1rem 0rem;
    }
    
    .head .hero-img{
        max-width:350px;
        margin: auto;
        display:block;
    }
    
    .head .heading{
        font-size: 40px;
        text-align: center;
        padding-top: 0.5rem;
        color: var(--light-yellow);
        
    }
    
/* body{
    padding: 0.5rem;
    background-color: yellow;
    text-align: center;
}
div{
    border-radius: 3rem;
    margin:0rem 10rem;
    background-color: white;
} */

textarea{
    outline: none;
    resize: none;
    background-color:#FEF3C7;
    margin: 1rem 2.9rem;
    padding: 2rem;
    color: var(--light-yellow);
    font-weight: bold;
    width: 455px;
    font-family: 'Nerko One', cursive;
}

button {
    background-color: #FEF3C7;
    color: var(--light-yellow);
    padding: 0.5rem 2rem;
    margin:0px 250px;
    border-radius: 0.5rem;
    border: 1px var(--light-yellow) solid;
    font-family: 'Nerko One', cursive;
}
button:hover {
    background-color: yellow;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
  }
#output{
    background-color:#FEF3C7;
    padding: 3rem;
    color: var(--light-yellow);
    font-size: large;
    border-radius:0rem ;
    margin: 0.5rem 2.5rem;
    font-family: 'Nerko One', cursive;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;

}
.container-center{
    max-width: 600px;
    margin:auto;
    background-image: url(/minions.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container-center h1{
    text-align: center;
}


.footer{
    margin: 0;
    background-color: var(--primary-color);
    padding: 1rem 0rem;
    text-align:center;
    color: var(--light-yellow);
    font-family: 'Nerko One', cursive;
}
.footer .footer-para{
    text-align:center;
}


@media only screen and (max-width:700px){ 
    div{
        margin: 0rem 0rem;
       

    }
   textarea{
        width:150px;
        color: var(--light-yellow);
        font-size: large;
        }
    #output{
        width:150px;
        padding: 3rem;
        color: var(--light-yellow);
        font-size: large;
       
        border-radius:0rem ;
        margin: 0.5rem 2.5rem;
    }
    button{
        margin-left: 6rem;
    } 
}
